/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #121212;
  font-family: Lato, sans-serif;
}

/* Hamburger Menu */
.hamburger-menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: center; */
  padding: 5px;
  display: none;
}

.line {
  width: 30px;
  height: 2px;
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Add transition for smoother animation */
  margin: 4px 0; /* Add margin to space out the lines */
}

.open .line:nth-child(1) {
  transform: rotate(46deg) translate(7px, 7px);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -8px);
}

/* Navbar css */
.navbar {
  background-color: #1c1917;
  color: #363636; /* Dark gray color for text on the navbar */
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  padding-left: 20px;
  position: relative;
}

.en {
  color: red;
  margin-top: 100px;
}

.languageselect {
  width: 85px;
  height: 30px;
  background-color: whitesmoke;
  color: black;
  outline: none;
  border: none;
  border-radius: 4px;
  padding-left: 5px;
}

.togglelanguagediv {
  position: absolute;
  right: 25px;
  color: white;
  font-size: 1.1rem;
}

.languageselect.expanded {
  padding-top: 50px;
}

.navbarele:hover {
  /* color: #f48fb1; Dark gray color for text on the navbar */
  color: pink;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu span {
  cursor: pointer;
}

.navbareleactive {
  color: #ffffff; /* White text for contrast */
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 3px solid pink; /* Pink 200 */
  text-decoration: none;
  list-style: none;
  font-size: 1.1rem;
}

.hamburgernavbareleactive {
  color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 3px solid pink; /* Pink 200 */
  text-decoration: none;
  list-style: none;
  font-size: 1.1rem;
}

.hamburgernavbareleactive:hover {
  color: black;
}

.hamburgernavbarele {
  padding-top: 3px;
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-size: 1.1rem;
}

.stacksidebar:hover {
  color: black !important;
  background-color: #fff;
}

.hamburgernavbarele:hover {
  color: black;
}

.navbarele {
  padding-top: 3px;
  color: #ffffff; /* White text for contrast */
  text-decoration: none;
  list-style: none;
  font-size: 1.1rem;
}

/* About section css */

.skilllist li {
  margin-top: 10px;
  list-style-type: disc;
}

.aboutsectionparent {
  height: 100vh;
  width: 100%;
  /* background-color: aqua; */
}

.aboutdiv {
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.introwrapper {
  /* margin-top: 100px; */
  /* margin-bottom: 700px; */
  color: white;
}

.mediaintrowrapper {
  /* margin-bottom: 700px; */
  margin-top: 100px;

  color: white;
  display: none;
}

.icons {
  outline: 2px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.icondiv {
  color: #ffffff;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 35px;
}

.icondivincontactpage {
  color: #ffffff;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 40px;
}

.githubicon {
  height: 45px;
  fill: white;
  cursor: pointer;
  transition: fill 0.5s ease; /* Add a transition effect for the color property */
}

.hello {
  margin-bottom: 30px;
  font-size: 40px;
  /* box-shadow: -2px -2px 30px pink; */
}

.hellode {
  margin-bottom: 30px;
  font-size: 40px;
  /* box-shadow: -2px -2px 30px pink; */
}

.introwrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.introtext {
  line-height: 40px;

  font-size: 1.4rem;
  word-wrap: break-word;
}
.longspandiv {
  display: flex;
  justify-content: center;
}

.longspandivde {
  display: flex;
  justify-content: center;
}

.longspan {
  display: block;
  width: 1000px;
}
.longspande {
  display: block;
  width: 1000px;
}

.xlongspanfour,
.xlongspanfive,
.xlongspanthree,
.xlongspantwo,
.xlongspan,
.xlongspansix {
  display: flex;
  justify-content: center;
}

.mediumspan {
  width: 930px;
  display: block;
}

.mediumspande {
  width: 930px;
  display: block;
}

.mediumspandiv {
  display: flex;
  justify-content: center;
}

.mediumspandivde {
  display: flex;
  justify-content: center;
}

.shortspan {
  width: 870px;

  display: block;
}

.shortspande {
  width: 870px;

  display: block;
}

.shortspandiv {
  display: flex;
  justify-content: center;
}

.shortspandivde {
  display: flex;
  justify-content: center;
}

.ultrashortdiv {
  display: flex;
  justify-content: center;

  text-align: center;
}

.ultrashortdivde {
  display: flex;
  justify-content: center;
  text-align: center;
}

.ultrashortspan {
  width: 860px;

  display: block;
}

.ultrashortspande {
  width: 860px;

  display: block;
}

.linkedinicon {
  height: 47px;
  cursor: pointer;
  fill: white;
  transition: fill 0.5s ease; /* Add a transition effect for the color property */
}

.githubicon:hover,
.linkedinicon:hover {
  fill: #4b5563; /* Change the color on hover */

  /* box-shadow: -2px -2px 30px pink; */
}

/* .aboutdivtwo {
  background-color: teal;
  width: 50%;
  height: 100%;
} */

.introdiv {
  /* font-size: 4rem; */
  /* background-color: aqua; */
  /* width: 100%; */
  display: flex;
  height: 100%;
}

.contactmebuttondiv {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* .contactmebuttondiv button {
  height: 50px;
  width: 200px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 20px;
  transition: box-shadow 0.5s ease;
} */

/* .contactmebuttondiv button:hover {
  box-shadow: -2px -2px 30px #f48fb1;
} */

/* Contact Page */
.contactsectionparent {
  height: 100vh;
  width: 100vw;
  color: white;
  /* outline: 2px solid green; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.contactmeheader {
  font-size: 1.9rem;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contactform {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contactintrodiv {
  display: flex;
  height: 100%;
}

.submitbuttondiv {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.submitbuttondiv button {
  height: 50px;
  width: 200px;
  font-size: 1.2rem;
  cursor: pointer;
}

.contactdiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 60px;
  gap: 15px;
}

label {
  font-size: 22px;
  cursor: pointer;
}

input {
  border-radius: 10px;
  height: 40px;
  font-size: 20px;
  margin-top: 10px;
  width: 600px;
}

textarea {
  height: 150px;
  width: 600px;
  margin-top: 10px;
  font-size: 16px;
}

/* portfolio css section */

.portfolioparentdiv {
  height: 100vh;
  width: 100%;
}

.boxparent {
  margin-top: 30px;
  display: flex;
  /* outline: 2px solid pink; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 20px;
}
.box {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  height: 600px;
  width: 400px;
  /* outline: 2px solid #ffffff; */
  background-color: #222222;
  position: relative;
  border-radius: 20px;
}

.appdescription {
  margin-top: 10px;
}

.appdescription p {
  color: white;
  font-size: 1.2rem;
  line-height: 30px;
}

.nameofapp {
  color: pink;
  font-size: 2rem;
  margin-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.appimgbox {
  height: 250px;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
}

.appimgbox:hover {
  /* box-shadow: -2px -2px 10px pink; */
}

.boximg {
  height: 250px;
  width: 100%;
  border-radius: 10px;
}

.createdwithdiv {
  margin-top: 20px;
  color: white;
  font-size: 1.2rem;
  color: pink;

  /* position: absolute;
  bottom: 80px; */
}

/* .luminescbackendlink:hover {
  color: blue;
} */

/* successpage css*/

.successparentdiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.successwrapper {
  font-size: 1.2rem;
  background-color: #222222;
  height: 200px;
  width: 480px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 7px;
  margin-top: 150px;
}

.tohomepagebutton {
  cursor: pointer;
  margin-top: 10px;
  height: 35px;
  width: 170px;
}

@media (max-width: 500px) {
  .navbarele {
    font-size: 0.9rem;
  }

  .navbareleactive {
    font-size: 0.9rem;
  }

  .languageselect {
    height: 29px;
    width: 43px;
  }
}

@media (max-width: 430px) {
  .formsubmitted {
    font-size: 1.1rem;
  }

  .tohomepagebutton {
    height: 33px;
  }
}

@media (max-width: 372px) {
  .formsubmitted {
    font-size: 1rem;
  }

  .tohomepagebutton {
    height: 30px;
  }
}

@media (max-width: 1014px) {
  /* .introwrapper {
    display: none;
  } */

  .mediaintrowrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mediaintro {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.4rem;
    line-height: 40px;
  }

  .hello {
    font-size: 2.5rem;
  }

  /* .contactmebuttondiv button {
    height: 45px;
    margin-right: 20px;
  } */
}

@media (max-width: 573px) {
  .hello {
    font-size: 1.9rem;
  }
}

@media (max-width: 412px) {
  .navbar {
    padding-left: 15px;
  }
}

@media (max-width: 380px) {
  .hello {
    font-size: 1.6rem;
  }
}

@media (max-width: 443px) {
  .box {
    height: 650px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 393px) {
  .box {
    height: 700px;
  }
}

@media (max-width: 393px) {
  .box {
    height: 700px;
  }
}

/* media query for contact form */
@media (max-width: 650px) {
  input {
    width: 400px;
  }

  textarea {
    width: 400px;
  }
}

@media (max-width: 441px) {
  input {
    width: 300px;
  }

  textarea {
    width: 300px;
  }
}

@media (max-width: 813px) {
  .menu {
    display: none;
  }

  .togglelanguagediv {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    position: absolute;
    color: white;
  }
}
